// import  font
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// al body assegno font
body{
    font-family: Roboto;
}
// tutte le li nella mia pagina hanno list style none
li{
    list-style: none;
}